{% extends 'home.html' %}

{% block content %}
<h2> Temp and Humi of all sensors </h2>

{% if error %}
<h3>Error Information</h3>
    {{ error }}
{% endif %}
{% if time%}
<H3>Time: {{time|date:"Y-m-d H:i:s"}}</H3>
{% endif %}
{% if data %}
<table class="data-table">
    <thead>
        <tr>
            <th>Sensor Name</th>
            <th>Temperature</th>
            <th>Humility</th>
        </tr>
    </thead>
    <tbody>
        {% for d in data %}
            <tr>
                <td>{{ d.0 }}</td>
                <td>{{ d.1 }}</td>
                <td>{{ d.2}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}